@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    color: #171941;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

/* End general styles */
.primary-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: background-color 0.5s;
}

.container-navbar {
    max-width: 78.5rem;
    margin-inline: auto;
    padding-inline: 0.9375rem;
}

.navbar {
    height: 4.6875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    transition: height 0.25s;

}

.logo {
    font-size: 1.625rem;
    font-weight: 900;
}

.nav-list {
    list-style: none;
    font-size: 1rem;
    display: flex;
    gap: 1.5625rem;
    margin-top: auto;
    margin-left: 3.125rem;
    margin-right: auto;
}

.nav-link {
    transition: color 0.25s;
}

.nav-link:active,
.nav-link:focus {
    font-weight: 700;
}

@media (min-width: 1000px) {
    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 1.5px;
        background-color: #171941;
        transition: width 0.3s;
    }
    .nav-link:hover::after {
        width: 100%;
    }
}


/* Responsive Styles
@media (max-width: 768px) {

    .button,
    .button2 {
        display: block;
        margin: 0.5rem auto;
        text-align: center;
    }

    .button2 {
        margin-left: 0;
    }
} */

.button,
.button2 {
    display: inline-block;
    background-color: #151515;
    color: #fff;
    padding: 0.5rem 1.25rem;
    border-radius: 1.25rem;
    transition: background-color 0.25s;
}

.button2 {
    margin-left: 16px;
    display: inline-block;
    
}

.button:hover,
.button2:hover {
    color: #171941;
    background-color: #fff;
    border: 2px solid #171941;
}

header.active {
    background-color: #fff;
    box-shadow: 0 3px 0.625rem rgba(0, 0, 0, 0.1);
}

header.active .navbar {
    height: 4rem;
}

header.active .nav-list {
    margin-top: auto;
    margin-bottom: auto;
}

header.active .logo,
header.active .nav-link {
    color: #313131;
}

header.active .nav-link:hover {
    color: #808080;
}

header.active .button {
    background-color: #171941;
    color: #fff;
}

header.active .button:hover {
    color: #171941;
    background-color: #fff;
    border: 2px solid #171941;
}

/* hero section styling */

/* Footer styling */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

.container-footer {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #171941;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-Left: 30px;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links {
    margin-left: 30px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* navbar responsive styling */
.nav-toggle {
    display: none;
}

@media screen and (max-width: 900px) {
    .nav-list {
        display: none;
        position: absolute;
        left: 50%;
        top: 100%;
        width: 110%;
        transform: translate(-60%, 0%);
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
        padding: 1rem 0;
        z-index: 999;
    }
    .nav-list li {
        text-align: center;
        border-bottom: 1px solid #171941;
    }
    .nav-list .nav-link {
        padding: 1rem 0;
    }
    .nav-list .nav-link:hover {
        font-weight: 700;
        color: #171941;
    }
    .nav-list.active {
        display: block;
    }
    /* .nav-link {
        margin: 1rem 0;
    } */
    .button,
    .button2 {
        display: none;
    }
    .nav-toggle {
        display: block;
        position: absolute;
        top: 2.2rem;
        right: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .hamburger {
        display: block;
        width: 1.5rem;
        height: 2px;
        background-color: #333;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s;
    }
    .hamburger::before, .hamburger::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #333;
        position: absolute;
        transition: all 0.3s;
    }
    .hamburger::before {
        transform: translateY(-6px);
    }
    .hamburger::after {
        transform: translateY(6px);
    }
    .nav-toggle.active .hamburger {
        background-color: transparent;
    }
    .nav-toggle.active .hamburger::before {
        transform: rotate(45deg) translateY(0);
    }
    .nav-toggle.active .hamburger::after {
        transform: rotate(-45deg) translateY(0);
    }
}

/* footer responsive styling */

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}