
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Muli', sans-serif;
}

h1 {
  font-family: 'Muli', sans-serif;

}

.container {
  width: 50%;
  font-size: 1rem;
  margin: 10% auto;
  text-align: center;
}

.output-wrap {
  margin: 0 auto;
  text-align: center;
}

.model-output {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  margin: 0 auto;
  text-align: center;
}

.rating-result {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  margin: 0 auto;
  text-align: center;
}

#animated input[type=text] {
  width: 300px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

#animated input[type=text]:focus {
  width: 600px;
}

#animated i {
  position: relative;
  left: 30px;
}

.search-txt-input {
  padding: 12px 20px;
  font-size: 14px;
  border: 1px solid #000;
  width: 200px;
}

.search-button {
  padding: 12px 15px;
  font-size: 16px;
  outline: none;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 0;
  background: #000;
  position: relative;
  left: -7px;
  top: 1px;
  cursor: pointer;
}

.search-button:hover {
  text-decoration: none;
  background: #006400;
}

.search-button::-moz-focus-inner {
  border: 0;
}

#animated-2 .search-txt-input {
  width: 200px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

#animated-2 input[type=text]:focus {
  width: 500px;
}


#standard-3 .search-txt-input {
  width: 200px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

#standard-3 input[type=text]:focus {
  width: 500px;
}