@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* search box */
.search-box {
    margin-top: 8rem;
}

.search {
    margin: auto;
    width: 50%;
}

.form-control {
    border-radius: 100vw;
    height: 45px;
}

.form-control:focus {
    box-shadow: none;
}

.search-button {
    font-weight: 600;
    border-radius: 100vw;
}

.search-button:hover {
    background: #171941;
    color: #fff;
}

/* statistic card */
.mr-card {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);
}

.mr-title {
    font-size: 1.5rem;
}

.mr-content {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}


.stars {
    color: #f1c40f;
}

.rating {
    color: #171941;
}

.mr-image {
    grid-column: 3 / 5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mr-chart1 {
    grid-column: 1 / 3;
    grid-row: 2;
}

.mr-chart2 {
    grid-column: 3;
    grid-row: 2;
}

#barChart {
    width: 300px;
}

.mr-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.mr-card .stars ul li:last-child {
    margin-left: 1.4rem;
    font-size: 1.5rem;
}

.mr-card .stars ul li:nth-child(1) {
    margin: auto 0;
}

#mr-btn {
    background-color: #171941;
}

#mr-btn:hover {
    border: 2px solid #171941;
    color: #171941;
    background-color: #fff;
}

.charts {
    display: flex;
    justify-content: space-around;
    gap: 15rem;
}

/* past review cards */
.heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    display: grid;
    min-height: 200px;
    border-radius: 10px;
    transition: all 0.2s;
    grid-template-rows: 20px 50px 1fr 50px;
    box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);
}

.review-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.readMore,
.review-card div {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.stars ul {
    display: flex;
    padding: 0;
    list-style: none;
}

.stars ul li {
    margin: auto 0.3rem;
    font-size: 1.3rem;
}

.stars ul li:first-child {
    margin-left: 0;
}

.desc {
    color: rgb(66, 59, 59);
}

.readMore::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.6);
}

.readMore:hover {
    color: #fff;
}

.readMore:hover::after {
    width: 100%;
}

.title {
    grid-row: 1/2;
    justify-self: start;
    font-size: 1rem;
    font-weight: 600;
}

.review-card div {
    padding: 10px 0;
    grid-row: 2/3;
}

.read-more {
    grid-row: 4/5;
    align-self: center;
}

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}