{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>ReviewScope | History</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock css %}

{% block content %}
<!-- search bar with filters -->
<section class="search-box">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">Search For A Product</h1>
        </div>
        <div class="search">
            <form action="" method="GET">
                <div class="input-group">
                    <input id="myInput" type="text" class="form-control" onkeyup="myFunction()" placeholder="Search for a product" name="search">
                    <button class="btn btn-primary search-button" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!--Stats Card-->
{% if check %}
<section class="stats-card py-5">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">AI Generated Review</h1>
        </div>
        <div class="mr-card p-5">
            <div class="mr-content">
                <h2 class="mr-title fw-bold">{{ highlighted.product_name }}</h2>
                <p class="mr-rating">
                    <div class="stars">
                        <ul>
                            <li class="rating">Rating: </li>
                            <!-- <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-regular fa-star"></i></li> -->
                            {% for i in iter %}
                                {% if i <= highlighted.rating %}
                                <li><i class="fa-solid fa-star"></i></li>
                                {% else %}
                                <li><i class="fa-regular fa-star"></i></li>
                                {% endif %}
                            {% endfor %}
                            <li class="model-rating fw-bold">
                                {{ highlighted.rating }} / 5
                            </li>
                        </ul>
                    </div>
                </p>
                <p class="mr-summary">
                    {{ highlighted.summary }}
                </p>
            </div>  
            <!-- <div class="mr-image">
                <img src="{{ highlighted.img }}" alt="product image">
            </div> -->
            <div class="mr-chart1">
                <canvas id="barChart"></canvas>
            </div>
            <div class="mr-chart2">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- Past Reviews section -->
<section class="reviews py-5">
    <div class="container">
        <div class="heading">
            <h1 class="fw-bold">Past Reviews</h1>
        </div>
        <div class="cards">
        {% for review in reviews %}
            {% if review.user == request.user %}
            <div class="review-card card">
                <p class="title">
                    {{ review }}
                </p>
                <div class="stars">
                    <ul>
                        {% for i in iter %}
                        {% if i < review.rating %}
                        <li><i class="fa-solid fa-star"></i></li>
                        {% else %}
                        <li><i class="fa-regular fa-star"></i></li>
                        {% endif %}
                        {% endfor %}
                        <li class="px-5">
                            {{ review.rating }} / 5
                        </li>
                    </ul>
                </div>
                <p class="desc">
                    {{ review.summary }}
                </p>
                <p class="read-more">
                    <a class="readMore" href="{% url 'reviews' pname=review.product_name %}">Read More <i class="fas fa-arrow-right"></i></a>
                </p>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var pos = "{{ highlighted.pos }}";
    var neg = "{{ highlighted.neg }}";
    var neu = "{{ highlighted.neu }}";
    //convert string to float
    pos = parseFloat(pos)*100;
    neg = parseFloat(neg)*100;
    neu = parseFloat(neu)*100;

    star1 = "{{ highlighted.sc_1 }}";
    star2 = "{{ highlighted.sc_2 }}";
    star3 = "{{ highlighted.sc_3 }}";
    star4 = "{{ highlighted.sc_4 }}";
    star5 = "{{ highlighted.sc_5 }}";

    star1 = parseInt(star1);
    star2 = parseInt(star2);
    star3 = parseInt(star3);
    star4 = parseInt(star4);
    star5 = parseInt(star5);

    const ctx1 = document.getElementById('pieChart');
    const ctx2 = document.getElementById('barChart');

    const myChart = new Chart(ctx1, {
        type: "doughnut",
        data: {
            labels: ["Positive", "Negative", "Neutral"],
            datasets: [
            {
                label: "Sentiment",
                data: [neg, pos, neu],
                backgroundColor: [
                "rgba(0, 255, 0, 0.2)",
                "rgba(255, 0, 0, 0.2)",
                "rgba(0, 0, 255, 0.2)",
                ],
                    borderColor: ["#3EBD73", "#F35A5A", "#808080 "],
                borderWidth: 1,
            },
            ],
        },
        options: {
            scales: {
            y: {
                beginAtZero: true,
            },
            },
        },
    });

    const myChart2 = new Chart(ctx2, {
        type: "bar",
        data: {
            labels: ["1 star", "2 star", "3 star", "4 star", "5 star"],
            datasets: [
            {
                label: "Rating-count",
                data: [star1,star2,star3,star4,star5],
                backgroundColor: ["rgba(0, 255,0, 0.2)"],
                borderColor: ["#3EBD73"],
                borderWidth: 1,
            },
            ],
        },
        options: {
            indexAxis: "y",
            scales: {
            y: {
                beginAtZero: true,
            },
            },
        },
    });
</script>
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock scripts %}