{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>ReviewScope | Forgot</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="center">
    <div class="container-login">
        <div class="text">
            <a class="goback" href="{% url 'login' %}">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            Forgot Password
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="data">
                <label>Email</label>
                <input type="text" required />
            </div>
            <div class="data">
                <label>New Password</label>
                <input type="password" required />
            </div>
            <button type="submit">
                <i class="fa-solid fa-arrow-right-to-bracket"></i> Save
            </button>
        </form>
    </div>
</div>
{% endblock content %}